{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <span class="font-weight-normal">
                                    {% if msg %}
                                        {{ msg | safe }}
                                    {% else %}
                                        Add your credentials
                                    {% endif %}
                                </span>
    <form method="post" action="" class="mt-4">

        {{ form.hidden_tag() }}
 <div class="form-group mb-4">
<label for="email">Username</label>
<div class="input-group">
    <span class="input-group-text" id="basic-addon1"><span class="fas fa-user"></span></span>
    {{ form.username(class="form-control") }}
</div>
</div>
<!-- End of Form -->
<div class="form-group">
<!-- Form -->
<div class="form-group mb-4">
    <label for="password">Password</label>
    <div class="input-group">
        <span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span>
        {{ form.password(class="form-control", type="password") }}
    </div>
</div>
<!-- End of Form -->
<div class="d-flex justify-content-between align-items-center mb-4">
    <div class="form-check mb-0">
        <input class="form-check-input" type="checkbox" value="" id="remember">
        <label class="form-check-label mb-0" for="remember">
          Remember me
        </label>
    </div>
</div>
</div>
<div class="d-grid">
<button type="submit" name="login" class="btn btn-primary">Sign in</button>
</div>
</form>
</div>
{% endblock content %}