<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FMFI Editor: </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2b3cd04435.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include 'scripts.html' %}
    {% include 'toolbar.html' %}
        <!--<canvas id="planCanvas" class="w-100 h-100" onload="makeCanvas()"></canvas>-->
        <canvas id="canvas" class="w-100 h-100"></canvas>
        <script src="/static/js/canv.js"></script>

      </body>
</html>